{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h2>Update Osu! username for twitch.tv/{{ user.username }}</h2>
  <form class="form-horizontal" method="post" action="{% url 'users:osu-account' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn" name="action_set">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
